*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body{
    background-color: rgb(39, 41, 46);
} */
 .container-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

 }
.main-signup-container{
    box-shadow: 25px 25px 17px 10px;

    background-image: url("../../assets/neobruthalism.svg");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 60%;
    height: 80%;
}
.main-signup-container .side-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    width: 7%;
    height: 100%;
}
.main-signup-container .auth-right-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    width: 50%;
    height: 70%;
}
.auth-right-menu .menu-container{
    /* border: 1px solid white; */
    border-radius: 10px;
    width: 100%;
    height: 95%;
    background-color: rgb(96, 192, 191);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu-container .auth-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
}
.auth-wrapper .signup-wrapper{
    /* border-bottom: 2px solid rgb(39, 41, 46); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    /* border: 1px solid white; */
    height: 97%;
    width: 97%;

}
.signup-wrapper h1{
    color: black;
    font-family: sans-serif;
    font-size: 2.5vw;
}
.signup-wrapper .signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}
.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
    height: 100%;
    width: 100%;
}
.signup-form .inputArea{
    border: 2px solid rgb(35, 37, 41);
    width: 95%;
    height: 15%;
    border-radius: 10px;
    color: rgb(154, 126, 63);
    background-color: rgb(247, 203, 102);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    font-size: 1.2vw;
    padding-left: 10px;
}
.signup-form .inputArea:hover{
    background-color:rgb(195, 161, 80);
}
.signup-form .submit-btn{
    color: black;
    background-color: rgb(127, 188, 149);
    width: 50%;
    height: 15%;
    border: 1px solid rgb(35, 37, 41);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-size: 1.2vw;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.signup-form .submit-btn:hover{
    background-color:rgb(102, 150, 119) ;
}
.login-option a{
    color: rgb(224, 107, 107);
}